body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #f4f4f4;
}

.mx-w {
  max-width: 1417px;
  padding: 0px 43px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0%;

}

