


.grid {
    display: flex;
    justify-content: space-between;
}

.grid-2 .grid-sec {
    width: 45%;
}

.grid-3 .grid-sec {
    width: 33.33%;
}

.grid-4 .grid-sec {
    width: 25%;
}

.grid-5 .grid-sec {
    width: 20%;
}



.grid-7 .grid-sec {
    width: 14.28%;
}


a {
    text-decoration: none;
    color: black;
}
.para1{
   font-size: 16px; 
   font-weight: 600;
}
.p1{
    font-size: 20px;
}
.Header{
padding: 19px 36px;
/* position: fixed;
top: 0;
left: 0;
right: 0; */

}

