.Section9 {
    padding-top: 100px;
}

.mx-w.part-13 {
    display: flex;
    justify-content: space-between;
}



.pt-13-2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.pt-13-2-1 {
    width: 38.6%;
    padding: 40px;
}

.pt-13-2-2 {
    width: 49.6%;

}

.pt-13-2-1 {
    display: flex;
    flex-direction: column;
    gap: 210px;
    background-color: white;
    border-radius: 25px;
}



.pt-13-2-1-1 {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.pt-13-2-1-1-1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pt-13-2-1-2-1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pt-13-2-1-2-2 {
    display: flex;
    justify-content: space-between;
}

.pt-13-2-1-1-2 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.per {
    font-size: 14px;
    color: rgb(105, 105, 105);
}

.per1 {
    font-size: 30px;

}

.pt-13-2-1-2-1-1 img {
    width: 60px;
}

.pt-13-2-1-2-2-1 {
    width: 10%;

}

.pt-13-2-1-2-2-2 {
    width: 88%;
    align-content: center;

}

.pt-13-2-1-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pt-13-2-1-2-2-2 p {
    font-size: 12px;
}

.pt-13-2-1-2-2-1 img {
    border-radius: 20px;
    width: 24px;

}

.pt-13-2-1-2-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3rd bx means 2nd bx la 2nd bx */
.pt-13-2-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.pt-13-2-2-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
}

.pt-13-2-2-1-1 p {
    width: 41px;
    font-size: 24px;
    padding: 47px;
    display: flex;
}

.pt-13-2-2-1-1 {
    justify-items: center;
}

.pt-13-2-2-1-1 {
    position: relative;

    --border-bottom-width: 16px;
    --border-top-width: 16px;
    --border-left-width: 16px;
    --border-right-width: 16px;
    --border-style: solid;
    --border-color: #f1f1f1;

    width: 123px;
    height: 123px;
    border-radius: 75px;
    left: 76px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pt-13-2-2-1-1[data-border="true"]::after {
    content: "";
    position: absolute;
    inset: 0;

    box-sizing: border-box;
    pointer-events: none;

    border-width: var(--border-top-width) var(--border-right-width) var(--border-bottom-width) var(--border-left-width);

    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: inherit;
}


.pt-13-2-2-1-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pt-13-2-2-1-2-1 {
    display: flex;
    justify-content: center;
}

.pt-13-2-2-1-2-2 {
    text-align: center;
}

.pt-13-2-2-1-2-1 p {
    font-size: 16px;
}




.pt-13-2-2 {

    border-radius: 25px;
}

.pt-13-2-2-2 {
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 221px;
}

.pt-13-2-2-2-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 47%;
}

.pt-13-2-2-2-1-1 {
    display: flex;
    justify-content: space-between;

}

.pt-13-2-2-2-1-1-1 p {
    font-size: 38px;
}

.pt-13-2-2-2-1-1-2-1 p {
    font-size: 11px;

}



.pt-13-2-2-2-1-1-2 {
    display: flex;
    align-items: center;
}

.pt-13-2-2-2-1-1-2-1 {
    display: flex;
    width: 33px;
    height: 12px;
    padding: 7px;
    background-color: #f7f7f7;
    border-radius: 16px;
}

.pt-13-2-2-2-1-2 p {
    font-size: 12px;
    color: rgb(105, 105, 105);
}




/* graph styles */

.pt-13-2-2-2-2 {
    display: flex;
    justify-content: space-between;
}

.pt-13-2-2-2-2-value {
    background-color: #ededed;
    border-radius: 4px;
    width: 40px;
    height: 142px;
    place-content: end;
}

.pt-13-2-2-2-2-bar {
    width: 14.66%;
    place-content: end;
}

.pt-13-2-2-2-2-value p {
    font-size: 12px;
    transform: translate(0, -18px) rotate(269deg);
}

.pt-13-2-2-2-2-label p {
    font-size: 12px;
    color: rgb(105, 105, 105);

}

.pt-13-2-2-2-2-label {
    text-align: center;
}

.v1 {

    height: 41px;
}

.v2 {
    height: 60px;
}

.v3 {
    height: 47px;
}

.v4 {
    height: 80px;
}

.v5 {
    height: 120px;
}

.v6 {
    height: 200px;
    background-color: black;
    color: white;
}

.black {
    position: relative;
    height: 157px;

    bottom: 58px;
}

.pt-13-1 {
    width: 49.5%;
    color: white;
}

.pt-13-1 {

    min-height: 500px;

    /* background image */
    background-image: url('../Images/img52.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* optional styling */
    border-radius: 20px;
    overflow: hidden;
}

.pt-13-1 {
    display: flex;
    flex-direction: column;
    gap: 149px;
    padding: 40px;
}

.pt-13-1-1 {
    display: flex;
    justify-content: space-between;
}

.pt-13-1-1-1 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.pt-13-1-1-1-1 p {
    font-size: 16px;
}

.pt-13-1-1-1-2 p {
    color: rgba(255, 255, 255, 0.701);
    font-size: 12px;
}

.pt-13-1-1-2 {
    font-size: 36px;
    font-weight: 200;
}
.pt-13-1-2-1{
    width: 100%;
}

.pt-13-1-2 p {
    font-size: 40px;
    transform: scale(2.25);
    transform-origin: left center;
    display: inline-block;
}

.pt-13-1-2 {
    height: 100px;
    display: flex;
    align-items: center;
    width: 337px;
}
.pt-13-1-3{
    display: flex;
    justify-content: space-between;
    z-index: 8;
}
.pt-13-1-3-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pt-13-1-3-1{
    width: 17%;
    display: flex;
    align-items: end;
}
.pt-13-1-3-1 a{
    text-decoration: none;
    text-decoration-line: none;
}
.pt-13-1-3-2{
    width: 44%;
    display: flex;
}
.pt-13-1-3-1 p{
    width: 100%;
    font-size: 12px;
  color: rgba(255, 255, 255, 0.701);
}
.pt-13-1-3-2-1{
    font-size: 22px; text-align: end;
}
.pt-13-1-3-2-2{
    font-size: 14px;
    text-align: end;
      color: rgba(255, 255, 255, 0.701);
}

.pt-13-1{
    position: relative;
}
.pt-13-1-4 img{
    width: 278px;
}
.pt-13-1-4{
    right: 87px;
    position: absolute;
    bottom: 0px;
    z-index: 3;
}